
<ion-view view-title="Counter Manager">
  <ion-content class="padding">
    <ion-list>
      <div class="card" data-ng-repeat="(counterName, counter) in counters() track by $index">
        <div class="item item-icon-right">
          <div class="counterName" data-ng-bind="counterName"></div>
          <i class="icon ion-arrow-right-c"></i>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-50">
            <div class="counter padding" data-ng-bind="counter" ></div>
            </div>
            <div class="col">
            <button class="button button-positive" data-ng-click="addCounter(counterName)">+1</button>
            </div>
            <div class="col">
              <button class="button button-negative" data-ng-click="addCounter(counterName,-1)">-1</button>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <div data-ng-show="showNewCounterForm()" class="list card">
      <div class="item item-divider">
        <h1 class="title">Add Chicken</h1>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Name" data-ng-model="newCounterName">
      </label>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <div class="tab-item button ion-ios-minus button-negative icon-left button-clear" data-ng-click="toggleNewCounterForm()" >
          Cancel
        </div>
        <div class="tab-item button ion-ios-plus button-positive icon-left button-clear" data-ng-click="addCounter(newCounterName, 0)">Save</div>
      </div>
    </div>
  </ion-content>

  <div class="addCounter">
    <a class="ion-ios-plus button-positive" data-ng-click="toggleCounterForm()"></a>
  </div>

</ion-view>
