<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Counters" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/counters">
    <ion-nav-view name="tab-counters"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


</ion-tabs>
